debug/
release/
ui_*
Makefile*
object_script*
*.pro.user
sanguosha.qm
config.ini
swig/sanguosha_wrap.cxx
records/*
users.db
doc/*.html
swig/*.bat
.DS_Store
liblua5.1.dylib
QSanguosha.pro.user*
etc/customScenes/custom_scenario.txt
*.dylib
QSanguosha.exe
/tools/
builds/vs2010_Qt4/Win32/
builds/vs2010_Qt5/Win32/
Bin/
/lib/lua.lib
/lib/jsoncpp.lib
/lib/breakpad.lib
/builds/vs2010_Qt4/ipch
/builds/vs2010_Qt4/QSanguosha.sdf
/builds/vs2010_Qt4/QSanguosha.suo
/builds/vs2010_Qt4/*.user
/builds/vs2010_Qt4/*.opensdf
/builds/vs2010_Qt5/ipch
/builds/vs2010_Qt5/QSanguosha.sdf
/builds/vs2010_Qt5/QSanguosha.suo
/builds/vs2010_Qt5/*.user
/builds/vs2010_Qt5/*.opensdf
/sanguosha.ts
/image/system/button/promptbox
/image/system/button/back2.png
/image/system/button/back.png
/image/system/button/back_shade.png
/extensions
card_intention.txt
ai.html
*.sh
/Qt*.dll
/psd
fmod.log
