debug/
release/
ui_*
Makefile*
object_script*
*.pro.user
sanguosha.qm
config.ini
swig/sanguosha_wrap.cxx
records/*
users.db
doc/*.html
swig/*.bat
.DS_Store
liblua5.1.dylib
QSanguosha.pro.user*
etc/customScenes/custom_scenario.txt
*.dylib
QSanguosha.exe
/tools/
builds/*/Win32/
builds/*/Win32/
Bin/
/lib/lua.lib
/lib/jsoncpp.lib
/lib/breakpad.lib
/builds/*/ipch
/builds/*/QSanguosha.sdf
/builds/*/QSanguosha.*suo
/builds/*/*.user
/builds/*/*.opensdf
/sanguosha.ts
/extensions
card_intention.txt
ai.html
*.sh
/Qt*.dll
/psd
fmod.log
/imageformats
/platforms
