debug/
release/
account/accounts.csv
account/*_*
etc/winrate/
replays/
ui_*
Makefile*
object_script*
*.pro.user
sanguosha.qm
config.ini
swig/sanguosha_wrap.cxx
records/*
users.db
docs/wiki.html_backup/*
swig/*.bat
.DS_Store
liblua5.1.dylib
QSanguosha.pro.user*
etc/customScenes/custom_scenario.txt
*.dylib
QSanguosha.exe
TouhouTripleSha.exe
/tools/
builds/*/Win32/
builds/*/Win32/
Bin/
/lib/lua.lib
/lib/breakpad.lib
/lib/lua.pdb
/lib/breakpad.pdb
/builds/*/ipch
/builds/*/QSanguosha.sdf
/builds/*/QSanguosha.*suo
/builds/*/*.user
/builds/*/*.opensdf
/builds/*/*/
/builds/*/*.VC.db
/sanguosha.ts
/extensions
card_intention.txt
ai.html
*.sh
/Qt*.dll
/psd
fmod.log
/imageformats
/platforms
update/*
*.opendb
